<a href="https://colab.research.google.com/github/Indrejue/Build-week-1/blob/master/Healthcare_build_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [10]:
ranking = pd.read_csv('https://raw.githubusercontent.com/Indrejue/Build-week-1/master/Ranking%20additions.csv')
ranking.head()

  Country Name  GDP total rank  ...  healthcare Rank  population 2020
0      Andorra             162  ...              4.0           77.265
1    Argentina              24  ...             75.0        45195.774
2    Australia              13  ...             32.0        25499.884
3      Austria              26  ...              9.0         9006.398
4      Belgium              23  ...             21.0        11589.623

[5 rows x 7 columns]

In [12]:
per_cap_spend = pd.read_csv('https://raw.githubusercontent.com/Indrejue/Build-week-1/master/WDIData%20health%20spending%20per%20capita.csv')
per_cap_spend.head()

  Country Name Country Code  ... 2019  2020
0      Andorra          AND  ...  NaN   NaN
1    Argentina          ARG  ...  NaN   NaN
2    Australia          AUS  ...  NaN   NaN
3      Austria          AUT  ...  NaN   NaN
4      Belgium          BEL  ...  NaN   NaN

[5 rows x 64 columns]