<a href="https://colab.research.google.com/github/Indrejue/Build-week-1/blob/master/Healthcare_build_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
raw = pd.read_csv('https://raw.githubusercontent.com/Indrejue/Build-week-1/master/WDIData%20health.csv')
raw.head()

  Country Name Country Code  ... 2019  2020
0        World          WLD  ...  NaN   NaN
1      Andorra          AND  ...  NaN   NaN
2    Argentina          ARG  ...  NaN   NaN
3    Australia          AUS  ...  NaN   NaN
4      Austria          AUT  ...  NaN   NaN

[5 rows x 64 columns]